body {
	background: #edeef0;
	padding-top: 60px;
}

.admin-panel, .forms, .news-view, .lenta {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
	border: 1px solid #C9C5C5;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	font-size: 16px;
}

.lenta:hover {
	transition: 0.2s linear;
	-webkit-transform: scale(1.02);
 	transform: scale(1.02);
}
.admin-table {
	margin: 20px 0px 20px 0px;
}

.success_box{
	background: #5EC940;
	border: 3px solid green;
	border-radius: 20px;
	padding: 20px;
	width: 200px;
	top: 50%;
	left: 50%;
	margin-left: -122px;
	position: absolute;
	box-shadow: 0 0 10px rgba(0,0,0,2);
	display: none;
}
.error_box{
	background: #C94040;
	border: 3px solid red;
	border-radius: 20px;
	padding: 20px;
	width: 200px;
	top: 50%;
	left: 50%;
	margin-left: -122px;
	position: absolute;
	box-shadow: 0 0 10px rgba(0,0,0,2);
	display: none;
	z-index: 11;
}
.error_msg, .success_msg{
	color: white;
	text-shadow: 1px 1px 1px black;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}